In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.neighbors import LocalOutlierFactor
from scipy.stats import probplot
from scipy.stats import zscore
import warnings
warnings.filterwarnings('ignore')
sns.set_style('whitegrid')

In [66]:
df = pd.read_csv("/content/drive/MyDrive/cs6304/cs6304_dataset.csv")

In [67]:
df.head()

   STATION CODE  ...    year
0          1393  ...  2014.0
1          1399  ...  2014.0
2          1475  ...  2014.0
3          3181  ...  2014.0
4          3182  ...  2014.0

[5 rows x 12 columns]

In [68]:
df.shape

(1898, 12)

In [69]:
df_num = df.select_dtypes(exclude="object")

In [70]:
# Using Z-Score Normalization to detect outliers

df_num_norm = df_num.apply(zscore, axis=0)


def indices_of_greater_than_3(df_norm):
    indices_arr = []
    n_col = df_norm.shape[1]
    for index in range(n_col):
        col_index = df_norm.iloc[: ,index]
        greater_than_3 = df_norm[col_index > 3]
        greater_than_3_index = greater_than_3.index
        indices_arr.extend(greater_than_3_index)
    return indices_arr

indices_arr = indices_of_greater_than_3(df_num_norm)
print("Number of outliers using Z-Score method-",len(indices_arr))

Number of outliers using Z-Score method- 125

In [71]:
df.drop(indices_arr, axis=0, inplace=True)
df.shape

(1785, 12)

In [72]:
# Calculating Water Quality Index of each sample
df_num = df.select_dtypes(exclude="object")
# Dropping year and Temp attribute because they are not used for computing WQI
df_num.drop(["STATION CODE", "year", "Temp"], axis=1, inplace=True)

# Weight Vector(wi)
wi = np.array([0.2213, 0.2604, 0.0022, 0.4426, 0.0492, 0.0221, 0.0022])

# Standard values of parameters(si)
si = np.array([10, 8.5, 1000, 5, 45, 100, 1000])

# Ideal values of paramters(vIdeal)
vIdeal = np.array([14.6, 7, 0, 0, 0, 0, 0])

def calc_wqi(sample):
    wqi_sample = 0
    num_col = 7
    for index in range(num_col):
        v_index = sample[index] # Obeserved value of sample at index
        v_index_ideal = vIdeal[index] # Ideal value of obeserved value
        w_index = wi[index] # weight of corresponding parameter of obeserved value
        std_index = si[index] # Standard value recommended for obeserved value
        q_index = (v_index - v_index_ideal) / (std_index - v_index_ideal)
        q_index = q_index * 100 # Final qi value of obeserved value
        wqi_sample += q_index*w_index
    return wqi_sample

In [73]:
# Computing WQI for the whole dataset
def calc_wqi_for_df(df):
    wqi_arr = []
    for index in range(df.shape[0]):
        index_row = df.iloc[index, :]
        wqi_row = calc_wqi(index_row)
        wqi_arr.append(wqi_row)
    return wqi_arr

In [74]:
wqi_arr = calc_wqi_for_df(df_num)
# Converting oridnary array to numpy array
wqi_arr = np.array(wqi_arr)
wqi_arr = np.reshape(wqi_arr, (-1, 1))

# Resetting index values of the dataframes
wqi_arr_df = pd.DataFrame(wqi_arr, columns=["WQI"]).reset_index()
df = df.reset_index()

In [75]:
df_wqi = pd.concat([df, pd.DataFrame(wqi_arr, columns=["WQI"])], axis=1)
df_wqi.drop("index", axis=1, inplace=True)
df_wqi.shape

(1785, 13)

In [76]:
df_wqi[(df_wqi["WQI"] < 0)]

     STATION CODE  ...        WQI
196          3375  ...  -6.855044
231             2  ... -61.372099
234          1865  ... -65.334452
446          3375  ...  -8.214971
719          3375  ... -10.579224

[5 rows x 13 columns]

In [77]:
# Removing the samples with negative WQI
df_neg_indices = df_wqi[(df_wqi["WQI"] < 0)].index
df_wqi.drop(df_neg_indices, axis=0, inplace=True)

In [78]:
df_wqi["WQI clf"] = df_wqi["WQI"].apply(lambda x: (3 if (x <= 25)  
                                        else(2 if (26<=x<=50) 
                                        else(1 if (51<=x<=75) 
                                        else 0))))

In [80]:
df_wqi.tail()

      STATION CODE  ... WQI clf
1780          1329  ...       2
1781          1330  ...       0
1782          1450  ...       1
1783          1403  ...       1
1784          1404  ...       0

[5 rows x 14 columns]