In [2]:

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [3]:
import pandas as pd
import numpy as np
from random import randint
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import keras_tuner as kt

In [4]:
train_labels = []
train_samples = []

In [22]:

# read in the file
training_dataset = pd.read_csv(
    r'./waters_datasets/Cleaned_Datasets/Merged_Dataset_For_Trainging.csv',
    usecols=[
        "DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col","WQI"
    ]
)[["DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col","WQI"]]

x_train = training_dataset[["DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col"]]
y_train = training_dataset["WQI"]

In [24]:
x_train.head()

    DO   PH  Conductivity  BOD   NI  Fec_col  Tot_col
0  6.6  6.5         748.0  1.4  7.0     18.0  12000.0
1  6.6  6.4         338.0  1.1  0.7     75.0   5500.0
2  6.6  7.0         333.0  1.4  0.5      0.0     91.0
3  6.6  5.7         791.0  1.9  0.3      0.0     46.0
4  6.6  7.0         510.0  2.2  3.1     54.0   3350.0

In [25]:
y_train.head()

0    46.167450
1    40.826550
2    51.027703
3    32.954697
4    60.342890
Name: WQI, dtype: float64

In [26]:
# Testing dataset 1
testing_dataset_1 = pd.read_csv(r'./waters_datasets/Cleaned_Datasets/testing_data_1.csv',
    usecols=[
        "DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col","WQI",
    ]
)[["DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col","WQI"]]

In [27]:
testing_dataset_1.head()

     DO   PH  Conductivity  BOD   NI  Fec_col  Tot_col        WQI
0   9.0  8.0          85.0  0.1  0.2    106.0    397.0  47.656576
1   9.0  8.0         102.0  0.3  0.4    153.0    954.0  50.613823
2   9.0  8.0          96.0  0.2  0.3     58.0    653.0  47.550650
3   9.0  8.0          94.0  0.2  0.4     34.0    317.0  46.956823
4  10.0  8.0         112.0  0.2  0.5    213.0   1072.0  46.282847

In [28]:
# testing cloumns for x 
x_test_1 = testing_dataset_1[["DO","PH","Conductivity","BOD","NI","Fec_col","Tot_col"]]

In [29]:
x_test_1.head()

     DO   PH  Conductivity  BOD   NI  Fec_col  Tot_col
0   9.0  8.0          85.0  0.1  0.2    106.0    397.0
1   9.0  8.0         102.0  0.3  0.4    153.0    954.0
2   9.0  8.0          96.0  0.2  0.3     58.0    653.0
3   9.0  8.0          94.0  0.2  0.4     34.0    317.0
4  10.0  8.0         112.0  0.2  0.5    213.0   1072.0

In [30]:
# testing cloumns for y
y_test_1 = y = testing_dataset_1["WQI"]

In [31]:
y_test_1.head()

0    47.656576
1    50.613823
2    47.550650
3    46.956823
4    46.282847
Name: WQI, dtype: float64