In [1]:
# import the cv2 library
import cv2

In [2]:
# Load images in colored and not colored manner
img_color = cv2.imread('../images_of_india/final_map.png')
#img_grayscale = cv2.imread('../images_of_india/final_map.png',0)

In [3]:
#Display the images
#Displays image inside a window
#cv2.imshow('color image',img_color) 
# cv2.imshow('grayscale image',img_color)

# # Waits for a keystroke
# cv2.waitKey(0) 

# # Destroys all the windows created
# cv2.destroyALLwindows()

In [4]:
import matplotlib
import matplotlib.pyplot as plt
# import geopandas as gpd
# import plotly.express as px
import pandas as pd

In [5]:
stations_path = ("./dataset_with_long_lat.csv")

In [6]:
df = pd.read_csv(stations_path)

In [7]:
df

      S.Code  WQI clf   latitude  longitude
0       1533        2  27.396089  95.631783
1       1534        2  26.105415  93.113917
2       1535        1  26.980000  94.630000
3       1536        2  26.979722  94.632211
4       1537        1  26.750143  94.219855
...      ...      ...        ...        ...
1126    2238        2  26.493169  90.917841
1127    2239        1  26.311379  89.831334
1128    2240        1  24.786736  92.813553
1129    2241        2  24.735544  92.889269
1130    2242        2  24.870906  92.376439

[1131 rows x 4 columns]

In [8]:
#image information
#longitude is vertical.. However, longitudes change horizontaly!
min_latitude = 8.0590000
max_latitude = 35.8530000

min_longitude = 67.9390000
max_longitude = 97.3830000

In [9]:
real_latitude_span = max_latitude - min_latitude
real_longitude_span = max_longitude - min_longitude

print(real_latitude_span)
print(real_longitude_span)

27.794000000000004
29.444000000000003

In [10]:
max_x_pixel_lat = 672
max_y_pixel_long = 692

In [11]:
latitude_1, longitude_1 = 27.396089, 95.631783

In [12]:
latitude_1 = latitude_1 - min_latitude 
longitude_1 = longitude_1 - min_longitude 
print(latitude_1)
print(longitude_1)

19.337089
27.692783000000006

In [13]:
#the amount of latitude one pixel covers
one_pixel_latitude = real_latitude_span/max_x_pixel_lat
one_pixel_latitude

0.041360119047619055

In [14]:
#the amount of longitude one pixel covers
one_pixel_longitude = real_longitude_span/max_y_pixel_long
print(real_longitude_span)
print(max_y_pixel_long)
print(one_pixel_longitude)

29.444000000000003
692
0.04254913294797688

In [15]:
0.030099859353023905 * 711

21.400999999999996

In [16]:
#find what pixels need to color
lat = latitude_1 / one_pixel_latitude
lat

467.52981967331067

In [17]:
print(longitude_1)
long = longitude_1 /one_pixel_longitude
long

27.692783000000006

650.8424750713219

In [18]:

print(img_color.dtype)

uint8

In [19]:
par1 = int(lat)

In [20]:
par2 = int(long)

In [21]:
par2 = int(long)

In [22]:
# parameters (y,x)
# img_color[692-par2,par1:(par1+5)] = (0,0,255)
img_color[692-par1,par2:(par2+5)] = (0,0,255)

In [ ]:
cv2.imshow('grayscale imagesa',img_color)

# Waits for a keystroke
cv2.waitKey(0) 

# Destroys all the windows created
cv2.destroyALLwindows()